@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

app-header {
  display: block;
  height: $header-height; 
  flex-shrink: 0;
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: $main-padding;
}
