@use 'variables' as *;


:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	height: $header-height; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: #fff;
	border-bottom: 0 2px rgba(0,0,0,0.05);
	z-index: 1000;
}

main {
	flex: 1;
	overflow-y: auto;
	padding: $main-padding;
}